@import '../../assets/base.less';

.contentTop {
  h3 {
    position: relative;
    height: 45px;
    font-size: 32px;
    font-weight: 800;
    line-height: 45px;
    color: @text-color-333;
    opacity: 1;
  }

  h3:after {
    position: absolute;
    bottom: -0.7vh;
    left: 0;
    content: '';
    width: 80px;
    height: 3px;
    background: @text-color-blue;
  }

  p {
    margin-top: 2.9vh;
    font-size: 16px;
    line-height: 22px;
    color: @text-color-999;
    max-width: 45.8vw;
  }

  .btn {
    font-size: 14px;
    width: 8.3vw;
    min-width: 159px;
    height: 4.6vh;
    margin-top: 4.4vh;
    color: @text-color-blue;
    border: 1px solid @text-color-blue;
  }
}
