@import '~antd/lib/style/themes/default.less';
@import '../../assets/base.less';

@keyframes changeColor {
  from {
    color: @text-color-333;
  }

  to {
    color: @text-color-blue;
  }
}

.asContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 192px);
  padding: 11.9vh 19.3vw 11.9vh 19.3vw;
  overflow: hidden;

  .asContentRight {
    width: 27.3vw;

    .asContentBottom {
      margin-top: 5.9vh;

      .asList {
        width: 100%;
        padding: 0;

        li {
          margin-bottom: 1.9vh;

          .cardBox {
            display: flex;

            height: 2.2vh;
            line-height: 2.2vh;

            .icon {
              font-size: 20px;
              font-weight: bold;
              animation-name: changeColor;
              animation-duration: 1s;
              animation-fill-mode: forwards;
            }

            .delay2 {
              animation-delay: 0.25s;
            }

            .delay4 {
              animation-delay: 0.5;
            }

            .delay6 {
              animation-delay: 0.75s;
            }

            .delay8 {
              animation-delay: 1s;
            }

            p {
              margin-left: 1.6vw;
              font-size: 18px;
              color: @text-color-333;
            }
          }
        }
      }
    }
  }

  img {
    margin-right: 2.1vw;
    width: 32vw;
    height: 37.6vh;
  }
}
